.cardTask {
    width: 100%;
    max-width: 200px;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: #f1f1f1;
    font-size: 2rem;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
}

.cajita1, .cajita2 {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
}

.cajita1 {
    background-color: aqua;
}

.cajita2 {
    background-color: palevioletred;
}

.App {
    display: flex;
    justify-content: space-between;
    align-items: center;
}